{% extends "layout.html" %}
{% block title %}{{header}}{% endblock %}
{% block body %}
<div class="game">
    <div style = "padding-top: 20px; padding-bottom: 10px"><h2>{{header}}</h2></div>

    <img src="{{file_address}}" alt={{internal_name}} width="200px">
    <br>
    <h3 style = "font-size: 38px; padding-top: 12px">{{ average_rating }}</h3>
    <br>
    <h2>Description</h2> 

    <h4 id="desc">{{ desc }}</h4>
    <br>
    {% if reviews|length > 0 %}
    <div>
        <table>
            <tr>
            <th>User</th>
            <th>Date</th>
            <th>Rating</th>
            <th>Review</th>
            </tr>
            {% for review in reviews %}
            <tr>
                <td><strong>{{ review.user }}</a></strong></th>
                <td>{{ review.date }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.review }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <div>
      <em>There are no reviews for this game yet.</em>
    </div>
    {% endif %}
</div>
    <br>
    <form class="review" action="" method = "post">
        <h4>Write Your Review</h4>
        
        <div>
            <!-- Text box for writing reviews -->
            <textarea id="review" name="review" style="width: 40vw; height: 300px; text-align: left; border-radius: 5px;" placeholder="Please enter your review. Be desriptive!" required></textarea>
        </div>

        <!-- A star rating system -->
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>
        <br>
        <!-- Submit the post -->
        <div>
            <input type="submit" value=" Post Review! " id="post-rev">
        </div>
    </form>


{% endblock %}

