<!doctype html>
<title>{% block title %}Welcome{% endblock %}</title>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Press+Start+2P&display=swap" rel="stylesheet">


<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<div class="page">

<body style="background-image: url({{ url_for('static', filename='images/gamerekt_scenic.png') }}); background-size: cover;">

  <img src="{{ url_for('static', filename='images/doublesize_gamerekt.gif') }}" style = "display: block; margin: auto; padding-top: 140px;" alt="GameRekt">

  <div class="navigation">
    <div class="wrapper">
    <a href="{{ url_for('home') }}">
      <input type="image" src="{{ url_for('static', filename='images/home.png') }}"  alt="Search">
    </a> 


    {% if g.user %}
    
      <a href="{{ url_for('logout') }}">
        <img src="{{ url_for('static', filename='images/Sign_out.png') }}" alt="Sign Out">
      </a>

        
      <a href = "{{ url_for('profile', user=g.user.username) }}">
        <img src="{{ url_for('static', filename='images/profile.png') }}" alt="Profile">
      </a>
      <br />
    
    {% else %}
    
  
      <a href="{{ url_for('register') }}">
      <img src="{{ url_for('static', filename='images/sign_up.png') }}" alt="Sign Up">
      </a>
      <a href="{{ url_for('login') }}">
      <img src="{{ url_for('static', filename='images/sign_in.png') }}" alt="Sign In">
      </a>
    

    {% endif %}
  </div>
</div>
  <div class="search">
    <div style="display: flex; justify-content: center; align-items: center; padding-top: 12px;">
      <form action="/search">
        <input type="text" placeholder="Enter any game!" name="search" style = "padding-top: 6px; padding-bottom: 6px; font-size: 18px; border-radius: 5px;">
        <input type="image" src="{{ url_for('static', filename='images/search_button.gif') }}" style="display: inline-block; margin: auto;" alt="Search">
      </form>
    </div>
    <form action="/random" style = "padding-top: 18px;">
      <input type="image" src="{{ url_for('static', filename='images/random_game.png') }}" style="display: block; margin: auto;" alt="Search">
      
    </form>
  </div>

  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="body">
  {% block body %}{% endblock %}
  </div>

  <br>
  <div class="footer" style= "padding-top: 180px; text-align: right; margin-right: 10px;">
    GameRekt &mdash; A Flask Application
  </div>
</div>
