{% extends "layout.html" %}
{% block title %}GamRekt Profile: {{user}}{% endblock %}
{% block body %}
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}

  {% if g.user.username == user%}
  <form action="" method="post">
    <input type="text" placeholder= "add a friend..." class="text-box" name="friend" size="30" value="{{ request.form.friend }}" style="height: 25px; padding-top: 6 px;">
    <input type="image" src="{{ url_for('static', filename='images/add_fren.png') }}" value="Add friend">
  </form>
  <br>
  {% endif %}
  <div id="profile-wrapper">
  <table>
    <tr>
    <th>Friends</th>
    </tr>
  {% if g.user.username == user%}
  {% for friend in incoming_friends %}
  <tr>
    <td><a href = "{{ url_for('profile', user=friend) }}">{{friend}} (Incoming)</a> </th>
    </tr>
  {% endfor %}
  {% endif %}
  {% for friend in friends %}
  <tr>
    <td><a href = "{{ url_for('profile', user=friend) }}">{{friend}}</a></th>
    </tr>
  {% endfor %}
  {% if g.user.username == user%}
  {% for friend in pending_friends %}
  <tr>
    <td><a href = "{{ url_for('profile', user=friend) }}">{{friend}} (Pending)</a></th>
    </tr>
  {% endfor %}
  {% endif %}
  </table>
  {% if g.user.username == user%}
  <h1><a href="{{ url_for('feed') }}" id="link"> <img src="{{ url_for('static', filename='images/feed.png') }}" alt="Feed">  </a></h1>
  {% endif %}
</div>
  {% if userReviews|length > 0 %}
  <table class="table">
    <tr>
    <th>Game</th>
    <th>Date</th>
    <th>Rating</th>
    <th>Review</th>
    </tr>
    <br>
  {% for review in userReviews %}
  <tr>
      <td><a href = {{url_for('game', gameName=review.gameName)}}><strong>{{ review.gameName }}</a></strong></th>
      <td>{{ review.date }}</td>
      <td>{{ review.rating }}</td>  
      <td>{{ review.review }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <em>This user has not posted a review yet.</em>
{% endif %}


{% endblock %}

